{% load static %}
{% load pole_tags %}

{% block contents %}
<div class="row">
  <!-- 棒グラフ用Canvas -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 mx-auto">
    <canvas id="myBarChart"></canvas>
  </div> 
  <!-- 円グラフ用Canvas -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 mx-auto">
    <canvas id="myPieChart"></canvas>
  </div>
</div>

<div class="row">
{% for entry in schedule %}
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
    <strong>
      {{ entry.0 }}年{{ entry.1 }}月
    </strong>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th><div class="text-center">Mon</div></th>
          <th><div class="text-center">Tue</div></th>
          <th><div class="text-center">Wed</div></th>
          <th><div class="text-center">Thu</div></th>
          <th><div class="text-center">Fri</div></th>
          <th><div class="text-center"><span class="text-primary">Sat</span></div></th>
          <th><div class="text-center"><span class="text-danger">Sun</span></div></th>
        </tr>
      </thead>

      <!-- カレンダー表示 -->
      {% for week in entry.2 %}
      <tr>
        {% for day in week %}
          {% if day != '0' %}
            <!-- 土曜日：文字色青、日曜祝日：文字色赤-->
            {% if day in entry.3 %}
            <!-- 出勤日の背景を緑色に設定 -->
            <td class="table-success">
              <a href="{{ entry.3|get_dict_value:day }}">
                <div class="text-center">
                  <span class="{{ entry.0|append_string:'/'|append_string:entry.1 |append_string:'/' |append_string:day |get_day_class}}">
                    {{ day }}
                  </span>
                </div>
              </a>
            </td>
            {% else %}
            <td>
              <div class="text-center">  
                <span class="{{ entry.0|append_string:'/'|append_string:entry.1 |append_string:'/' |append_string:day |get_day_class}}">
                  {{ day }}
                </span>
              </div>
            </td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
        </tr>    
        {% endfor %}

        </table>
  </div>
{% endfor %}
</div>

<!-- 円グラフを描く -->
<script>
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["月", "火", "水", "木", "金", "土"],
        datasets: [{
          backgroundColor: [
            "rgba(255, 241, 0, 0.8)",
            "rgba(35, 196, 102, 0.8)",
            "rgba(1, 146, 165, 0.8)",
            "rgba(100, 92, 167, 0.8)",
            "rgba(255, 65, 137, 0.8)",
            "rgba(254, 103, 56, 0.8)"
          ],
          data: [{{ pichart.0 }}, {{ pichart.1 }}, {{ pichart.2 }}, {{ pichart.3 }}, {{ pichart.4 }}, {{ pichart.5 }}]
        }]
    },
    options: {
      title: {
        display: true,
        text: '曜日別 出勤割合(%)'
      }
    }
});
</script>

<!-- 棒グラフを描く -->
<script>
var ctx = document.getElementById("myBarChart");
var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
                {% for entry in barchart %}
                    '{{ entry.0 }}',
                {% endfor %}
            ],
        datasets: [
        {
            label: '出勤回数',
            data : [
                {% for entry in barchart %}
                    {{ entry.1 }},
                {% endfor %}
                ],
            backgroundColor: "rgba(255,183,76,0.8)"
        },
        ]
    },
    options: {
        title: {
            display: true,
            text: '月別 出勤回数'
        },
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMax: {{ barchart|get_monthly_max }},
                    suggestedMin: 0,
                    stepSize: 5,
                    callback: function(value, index, values){
                        return  value +  '回'
                    }
                }
            }]
        },
    }
});
</script>
{% endblock %}