{% extends "base.html" %}

{% block title %}
DHT11
{% endblock %}

{% block headline %}
Temperature & Humidity
{% endblock %}

{% block content %}
<h2>Daily</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<canvas id="temperature24hChart"></canvas>
<script>
  var ctx = document.getElementById("temperature24hChart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for item in label_24h %}
          '{{item.strip("'")}}',
        {% endfor %}
      ],
      datasets: [
        {
          label: '気温(℃）',
          data: {{temperature_24h}},
          tension: 0.3,
          pointRadius: 0,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: '気温({{label_24h[0]}}～{{label_24h[-1]}})'
      },
      scales: {
        yAxes: [{
          ticks: {
            stepSize: 1,
            callback: function(value, index, values){
              return  value +  '℃'
            }
          }
        }]
      },
    }
  });
</script>
<canvas id="humidity24hChart"></canvas>
<script>
  var ctx = document.getElementById("humidity24hChart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        {% for item in label_24h %}
          '{{item.strip("'")}}',
        {% endfor %}
      ],
      datasets: [
        {
          label: '湿度(%）',
          data: {{humidity_24h}},
          tension: 0.3,
          pointRadius: 0,
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: '湿度({{label_24h[0]}}～{{label_24h[-1]}})'
      },
      scales: {
        yAxes: [{
          ticks: {
            stepSize: 1,
            callback: function(value, index, values){
              return  value +  '%'
            }
          }
        }]
      },
    }
  });
</script>

<script>{{daily_script}}</script>
<h2>Monthly</h2>
<canvas id="MonthlyChart" width="400" height="100"></canvas>
<script>{{monthly_script}}</script>
<h2>Yealy</h2>
<canvas id="YearlyChart" width="400" height="100"></canvas>
<script>{{yearly_script}}</script>
{% endblock %}
