{% extends "base.html" %}

{% block title %}
DHT11
{% endblock %}

{% block headline %}
{{page_title}}
{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
{% for list in datalist %}
  {% set outer_loop = loop %}
  <h2>{{title[loop.index0]}}</h2>
  {% for element in list %}
  <canvas id="Chart{{outer_loop.index0}}-{{loop.index0}}"></canvas>
  <script>
    var graphScales = {
      yAxes: [{
        ticks: {
          stepSize: 1,
          callback: function(value, index, values){
            return  value +  '{{element.unit}}'
          }
        }
      }]
    };
    var ctx = document.getElementById("Chart{{outer_loop.index0}}-{{loop.index0}}");
    var graphData = {
      labels: [
      {% autoescape false %}
        {% for item in element.labels %}
          '{{item}}',
        {% endfor %}
      {% endautoescape %}
      ],
      datasets: [
        {% for data_list in element.data %}
        {
          label: '{{element.places[loop.index0]}}',
          spanGaps: true,
          {% autoescape false %}
          data: {{ data_list }},
          {% endautoescape %}
          tension: 0.3,
          pointRadius: 0,
          {% if element.colors|length > loop.index0 + 1 %}
          borderColor: "{{element.colors[loop.index0]}}",
          {% else %}
          borderColor: "rgba(0,0,0,1)",
          {% endif %}
          backgroundColor: "rgba(0,0,0,0)"
        },
        {% endfor %}
      ],
    };
    var graphOptions = {
      title: {
        display: true,
        text: '{{element.graphTitle}}({{element.labels[0]}}～{{element.labels[-1]}})'
      },
      scales: graphScales,
    };
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: graphData,
      options: graphOptions
    });
  </script>
  {% endfor %}
{% endfor %}

{% endblock %}
