{% extends 'base.html' %}
{% load static %}

{% block title %}ログ一覧 | Pole Blog Checker{% endblock %}

{% block active_log_list %}active{% endblock %}

{% block contents %}
<div class="container-fluid my-div-style">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr class="d-flex">
                    <th class="text-center col-3">日時</th>
                    <th class="text-center col-4">ログ</th>
                    <th class="text-center col-5">詳細</th>
                </tr>
            </thead>
            <tbody>
            {% for log in log_list %}
                <tr class="d-flex">
                    <td class="col-3">{{ log.date|date:"Y/m/d H:i:s" }}</td>
                    {% if log.log == 0 %}
                    <td class="col-4">ブログチェック開始</td>
                    <td class="col-5"></td>
                    {% elif log.log == 1 %}
                    <td class="col-4">ブログチェック完了（成功）</td>
                    <td class="col-5"></td>
                    {% elif log.log == 2 %}
                    <td class="col-4 table-success">新着記事検出：メール通知</td>
                    <td class="col-5"></td>
                    {% else %}
                    <td class="col-4">{{ log.log }}</td>
                    <td class="col-5"></td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr class="d-flex">
                    <td class="col-4"></td>
                    <td class="col-5">ログがありません。</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <!-- ページネーション処理 -->
        {% if is_paginated %}
        <ul class="pagination">
            <!-- 前ページへのリンク -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <!-- ページ数表示 -->
            {% for page_num in page_obj.paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            <!-- 次ページへのリンク -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}