{% extends 'base.html' %}
{% load static %}

{% block title %}スケジュール | Pole Blog Checker{% endblock %}

{% block active_schedule %}active{% endblock %}

{% block contents %}
<!-- グラフ描画用JavaScript -->
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>

<div class="container-fluid my-div-style">
    <div class="row">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
        </form>
    </div>
    <div id="loading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <!-- AJAXの取得結果の表示領域 -->
    <div id="schedule"></div>
</div>

<!-- AJAXでドロップダウンで選択した女の子のスケジュールを取得する -->
<script type="text/javascript">
    function SendAjaxrRequest(){
        var selected = $('.selectpicker').val();
        var url = location.href;

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send('id='+selected);

        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4 && xhr.status === 200) {
                console.log( xhr.responseText );
                $("#schedule").html(xhr.responseText);
                $("#loading").css('visibility','hidden');
                $("#schedule").css('visibility','visible');
            }
        }
    };

    $( ".selectpicker" ).change(function() {
        $("#loading").css('visibility','visible');
        $("#schedule").css('visibility','hidden');
        SendAjaxrRequest();
    });

    $(document).ready( function(){
        $("#loading").css('visibility','visible');
        $("#schedule").css('visibility','hidden');
        SendAjaxrRequest();
    });
</script>
{% endblock %}
