{% extends 'base.html' %}
{% load static %}

{% block title %}サインアップ | Pole Blog Checker{% endblock %}

{% block active_signup %}active{% endblock %}

{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

    <!-- Bootstrap select -->
    <link href="https://developer.snapappointments.com/bootstrap-select/A.ajax,,_libs,,_highlight.js,,_9.15.6,,_css,,_github.min.css+css,,_base.css+css,,_custom.css+dist,,_css,,_bootstrap-select.min.css,Mcc.Sm_E229yq5.css.pagespeed.cf.6VwF0Af9hv.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style mt-5 mx-auto col-8">
            <form class="form-signin" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up</h1>
                <label for="id_email" class="sr-only">Email address</label>
                <input type="email" name="email" id="id_email" class="form-control" placeholder="Email address" required autofocus>
                <label for="id_password1" class="sr-only">Password</label>
                <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password" required>
                <label for="id_password2" class="sr-only">Password</label>
                <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirm Password" required>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}