{% extends 'base.html' %}
{% load static %}

{% block title %}写真 | Pole Blog Checker{% endblock %}

{% block active_photo %}active{% endblock %}

{% block contents %}
<!-- フォトアルバム用JavaScript -->
<link rel="stylesheet" type="text/css" href="{% static 'css/zoomwall.css' %}" />
<script type="text/javascript" src="{% static 'js/zoomwall.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.waitforimages.min.js' %}"></script>

<div class="container-fluid my-div-style">
    <div class="row">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
        </form>
    </div>
<!--    <div id="loading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div> -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <div class="row">
        <div id="gallery" class="zoomwall">
            <!-- AJAXの取得結果の表示領域 -->
        </div>
    </div>
</div>

<!-- AJAXでドロップダウンで選択した年の画像を取得する -->
<script type="text/javascript">
    function SendAjaxrRequest(){
        $(".progress").css('visibility','visible');

        var selected = $('.selectpicker').val();
        var url = location.href;

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send('date='+selected);

        var image_received_count = 0;
        var image_all_count = 0;
        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4 && xhr.status === 200) {
                $("#gallery").html(xhr.responseText);
                image_all_count = document.getElementById('gallery').children.length;
                $('#gallery').waitForImages({
                    finished: function() {
                        // 全ての画像のロード完了後にzoomwallを実行する
                        // （ロード前に実行すると画像のwidthが0になり正常動作しない）
                        zoomwall.create(document.getElementById('gallery'));
                        $("#gallery").css('visibility','visible');
                        // 1秒後にプログレスバーを非表示にする
                        setTimeout(hide_progress, 1000);
                    },
                    each: function() {
                        // ...
                        image_received_count += 1;
                        var percent = parseInt(image_received_count / image_all_count * 100);
                        console.log(percent);
                        $(".progress-bar").html(percent + '%');
                        $(".progress-bar").css('width', percent + '%');
                    },
                    waitForAll: true
                });
            }
        }
    };

    var hide_progress = function(){
        $(".progress").css('visibility','hidden');
        $(".progress-bar").html('0%');
        $(".progress-bar").css('width', '0%');
    };

    $( ".selectpicker" ).change(function() {
        $("#gallery").css('visibility','hidden');
        SendAjaxrRequest();
    });

    window.onload = function(){
        $("#gallery").css('visibility','hidden');
        SendAjaxrRequest();
    };
</script>

{% endblock %}