{% extends "base.html" %}
{% block content %}
	<h1>アップロードフォーム</h1>
	<form method="POST" action="/upload" enctype="multipart/form-data">
		<div class="input-group">
		<input placeholder="データ" name="the_file" type="file"/>
		<input value="送信" type="submit" class="btn btn-primary" />
		</div>
	</form>
	<div class="card col-md-7 dt-image-content">
		<header class="d-flex justify-content-between">
			<!-- 物体検知フォームを追加する -->
			<div class="d-flex flex-row-reverse">
				<div class="p-2">
					<input value="物体検出" id="object_detect" type="button" class="btn btn-primary" />
					<input value="顔検出" id="face_detect" type="button" class="btn btn-primary" />
					<input value="紗羅検出" id="face_recognition" type="button" class="btn btn-primary" />
					<span id="ElapsedTime" style="display: none;">0秒</span>
					<span class="spinner-border text-primary" role="status" id="spinner" style="visibility: hidden;" ></span>
				</div>
			</div>
		</header>
		<section>
			<img src="{{ filepath }}" alt="アップロード画像" id="uploadedImage"/>
			<span id="originalImage" style="visibility: hidden;"></span>
		</section>
	</div>
	<script src="{{ url_for('static', filename='vendor/js/jquery-3.6.4.min.js') }}"></script>
	<script>
		function getImageFilePath()
		{
			$filePath = $("#uploadedImage").attr('src')
			$orginalFilePath = $('#originalImage');
			if($orginalFilePath.is(':empty'))
			{
				$("originalImage").html = $filePath
			}
			else
			{
				$filePath = $("originalImage").html
			}

			return $filePath
		}

		$('#face_detect').click(function(){
			$filePath = getImageFilePath()

			startTimer();
			$.ajax({
				url: "/detect",
				type:'POST',
				dataType: "json",
				data: JSON.stringify($filePath),
				contentType: 'application/json',
				cache: false,
			}).done(function(data, textStatus, jqXHR) {
					// 成功したとき
					//var data_json = JSON.parse(data);
					$("#uploadedImage").attr('src', data)
			}).fail(function(jqXHR, textStatus, errorThrown ) {
				// エラー処理
				alert(errorThrown);
			}).always(function( jqXHR, textStatus, errorThrown ) {
				stopTimer();
			})
		});
		$('#face_recognition').click(function(){
			$filePath = getImageFilePath()

			startTimer();
			$.ajax({
				url: "/face_recognition",
				type:'POST',
				dataType: "json",
				data: JSON.stringify($filePath),
				contentType: 'application/json',
				cache: false,
			}).done(function(data, textStatus, jqXHR) {
					// 成功したとき
					//var data_json = JSON.parse(data);
					$("#uploadedImage").attr('src', data)
			}).fail(function(jqXHR, textStatus, errorThrown ) {
				// エラー処理
				alert(errorThrown);
			}).always(function( jqXHR, textStatus, errorThrown ) {
				stopTimer();
			})
		});

		var elapsedTime = 0;

		function startTimer() {
			elapsedTime = 0;   // カウンタのリセット
			timerId = setInterval('showElapsedTime()',1000);   // タイマーをセット(1000ms間隔)
			$("#ElapsedTime").css({
				"display":"inline", 
			});
			$("#spinner").css({
				"visibility":"visible", 
			});
		}

		function stopTimer() {
			clearInterval( timerId );   // タイマーのクリア
			$("#spinner").css({
				"visibility":"hidden", 
			});
		}

		function showElapsedTime() {
			elapsedTime++;   // カウントアップ
			var msg = elapsedTime + "秒";   // 表示文作成
			document.getElementById("ElapsedTime").innerHTML = msg;   // 表示更新
		}
	</script>
{% endblock %}
